.content {
  /* max-width: calc(100% - 12px); */
}

.file {
  display: flex;
  overflow: hidden;
}

.footer {
  min-height: var(--space-5);
}

.chevron {
}

.chevron__open {
}

.chevron__close {
  transform: rotate(180deg);
}

.userInput {
  text-align: left;
  cursor: default;
  user-select: auto;
  max-width: 100%;
  padding: var(--space-4);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}
