.textarea {
  border: none;
  box-shadow: none;
  outline: none;
  max-height: 50dvh;
}

.textarea :global(.rt-TextAreaInput) {
  outline: none;
}

.textarea :global(.rt-TextAreaChrome) {
  box-shadow: none;
}
