.usageCounterContainer {
  margin-left: auto;
  margin-right: var(--space-3);
  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-2);
  gap: 8px;
  max-width: max-content;
  opacity: 0.7;
}

.usageCounterBorderless {
  --base-card-surface-box-shadow: none;
  --base-card-surface-hover-box-shadow: none;
  --base-card-surface-active-box-shadow: none;
  background: transparent;
  padding: 0;
  margin-right: var(--space-2);
}

.circularProgress {
  transform: rotate(-90deg);
}

.circularProgressBg {
  fill: none;
  stroke: var(--gray-a5);
}

.circularProgressFill {
  fill: none;
  stroke: var(--accent-9);
  transition: stroke-dashoffset 0.3s ease;
}

.circularProgressFillWarning {
  stroke: var(--yellow-9);
}

.circularProgressFillOverflown {
  stroke: var(--red-9);
}

.usageCounterContainerInline {
  padding: calc(var(--space-1) * 1.5);
  --color-panel: transparent;
  --base-card-border-radius: 4px;
  opacity: 0.7;
}

.isWarning {
  --base-card-surface-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--yellow-a5), var(--yellow-5) 25%);
  --base-card-surface-hover-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--yellow-a7), var(--yellow-7) 25%);
  --base-card-surface-active-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--yellow-a6), var(--yellow-6) 25%);
}

.isOverflown {
  --base-card-surface-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--red-a5), var(--red-5) 25%);
  --base-card-surface-hover-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--red-a7), var(--red-7) 25%);
  --base-card-surface-active-box-shadow: 0 0 0 1px
    color-mix(in oklab, var(--red-a6), var(--red-6) 25%);
}
