.rightButton {
  position: absolute;
  /* right: 20px; */
  right: var(--space-3);
  min-width: 50px;
}

.error {
  color: var(--red-9);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.rightButtonGroup {
  position: absolute;
  /* right: 10px; */
  right: var(--space-1);
}

.button_faded {
  mask-image: linear-gradient(
    to top,
    var(--color-background) 50%,
    transparent 100%
  );
}
