.markdown {
  /* overflow-x: scroll; */
}

.pre {
  padding: var(--space-2) !important;
  margin: 0 !important;
}

.code {
  color: inherit;
  background: none;
  padding: 0;
}

.command {
  padding: 0;
  width: 100%;
  /* overflow-x: scroll; */
}

.button {
  width: 100%;
  display: flex;
  text-align: unset;
  position: relative;
  padding: 0;
}

.content pre {
  margin: 0 !important;
}
