.icon {
  max-width: 75px;
  object-fit: cover;
}

.SetupIcon {
  max-width: 100px;
  object-fit: cover;
}

.SetupTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.IntegrationForm {
  width: 100%;
  max-width: 100%;
}

.IntegrationWarning {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.WarningHoverCardContent {
  background-color: var(--accent-a3);
  color: var(--accent-a11);
}

.popup {
  position: fixed;
  max-width: max-content;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-3);
  bottom: 65px;
}

/* styles for IDEs (padding for pages varies on config.host (vscode, jetbrains, web) */
.popup_ide {
  width: calc(100vw - var(--space-2) * 2);
}
