.reveal_button {
  text-align: left;
  justify-content: start;
  width: 100%;
  --button-ghost-padding-x: 0;
  --button-ghost-padding-x: 0;
}

.reveal_hidden {
  width: 100%;
  max-height: 9em;
  mask-image: linear-gradient(
    to bottom,
    var(--color-background) 50%,
    transparent 100%
  );
}
