.container {
  background-color: var(--violet-a2);
  border-radius: var(--radius-2);
  border: 1px solid var(--violet-a5);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
}

.visible {
  transform: translateY(0%);
  opacity: 1;
}
