body {
    font-family: 'Space Grotesk',sans-serif;
    font-size: .94rem;
}
.temp-disabled {
    opacity: 0.2;
    pointer-events: none !important;
    position: relative;
    z-index: 0;
}
.temp-info {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    border: 3px solid #999;
    color: #999;
    padding: 10px;
    border-radius: 5px;
    transform: rotate(-15deg);
}
.header-tabs {
    display: flex;
    align-items: center;
    width: 100%;
}
.header-tabs a {
    margin-right: 30px;
}
.header-tabs ul {
    width: 100%;
}
h2 {
    margin-top: 5rem !important;
    margin-bottom: 30px !important;
}
.log-container {
    margin-top: 15px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.log-container p {
    margin-bottom: 0;
}
.table-models tr:hover {
    cursor: pointer;
}
.table-models tbody td:first-child {
    min-width: 300px;
    overflow: hidden;
    white-space: nowrap;
}
.upload-tab-table-files tbody td,
.upload-tab-table-files thead th,
.upload-tab-table-files tbody td,
.upload-tab-table-files thead th {
    text-align: center;
}
.upload-tab-table-files thead th:first-child {
    min-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.upload-tab-table-files tbody td:first-child {
    min-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.upload-tab-table-types thead th:first-child {
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.upload-tab-table-types tbody td:first-child {
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.store-input {
    width: 70px;
    margin: 0 10px;
}
.store-block {
    display: flex;
    align-items: center;
}
.fine-gfx {
    width: 100% !important;
}
.run-table tr {
    cursor: pointer;
}
.uploaded-total {
    margin-top: 15px;
    font-size: 0.8rem;
    opacity: 0.4;
}
.uploaded-status {
    font-size: 0.8rem;
    opacity: 0.7;
    font-weight: bold;
    margin-bottom: 15px;
}
.finetune-spinner {
    margin-right: 5px;
    width: 10px;
    height: 10px;   
}
.table-types tr td:first-of-type {
    width: 50%;
}
.upload-spinner {
    margin-right: 5px;
}
.table-models td:nth-child(2),
.table-models td:nth-child(3),
.table-models th:nth-child(2),
.table-models th:nth-child(3) {
    text-align: center;
}

.table-gpu-card {
    margin-right: 10px;
}
.table-gpu-mem {
    height: 10px;
    width: 100px;
    background-color: #efefef;
    position: relative;
    display: inline-flex;
    margin-right: 10px;
}
.table-gpu-mem span {
    background-color: rosybrown;
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
}
.table-gpus td:nth-child(2),
.table-gpus td:nth-child(3),
.table-gpus th:nth-child(2),
.table-gpus th:nth-child(3) {
    text-align: center;
}
h3 {
    font-size: 1.3rem;
    font-weight: bold;
}
.file-status {
    font-weight: normal;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-tab-table-files td:nth-child(2),
.upload-tab-table-files th:nth-child(2) {
    width: 100px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
    text-align: left;
}