.sidebar {
  /* width: 260px; */
  /* flex-shrink: 0; */
  background: var(--gray-a3); /* var(--color-autofill-root) */
}

.coin {
  width: var(--font-size-1);
  height: var(--font-size-1);
}

/* TODO: duplicated */
.popup {
  position: fixed;
  max-width: max-content;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-3);
  bottom: 65px;
}

/* styles for IDEs (padding for pages varies on config.host (vscode, jetbrains, web) */
.popup_ide {
  width: calc(100vw - var(--space-2) * 2);
}
