.spinner {
  margin: 0;
}

.spinner::after {
  content: ".";
  visibility: hidden;
}

.spinner.spinning::after {
  visibility: inherit;
  display: inline-block;
  animation: dots steps(1, end) 1s infinite;
  content: "";
}

@keyframes dots {
  0% {
    content: "";
  }
  17% {
    content: ".";
  }
  34% {
    content: "..";
  }
  51% {
    content: "...";
  }
  68% {
    content: " ..";
  }
  85% {
    content: "  .";
  }
  100% {
    content: "";
  }
}
