.toolGroup {
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--gray-a2);
  }
}

.categoryBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
}
