.IntegrationsHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--mauve-a10);
  background-color: var(--color-background);
  z-index: 1000;
}

.IntegrationsHeaderIcon {
  max-width: 24px;
  object-fit: cover;
}
