.content {
  /* max-width: calc(100% - 12px); */
}

.file {
  display: flex;
  overflow: hidden;
}

.footer {
  min-height: var(--space-5);
}

.userInput {
  display: inline-flex;
  align-items: start;
  flex-direction: column;
  gap: 0;
  text-align: left;
  cursor: default;
  user-select: auto;
  max-width: 100%;
  padding: var(--space-2);
  min-height: var(--base-button-height);
  height: auto;
  white-space: pre;
}

.tool_content {
  --radix-collapsible-content-height: 50px;
}
.tool_result {
  width: 100%;
}

.tool_result_hidden {
  mask-image: linear-gradient(
    to bottom,
    var(--color-background) 50%,
    transparent 100%
  );
}

.tool_result_button {
  text-align: left;
  justify-content: start;
}

.diff pre {
  margin: 0;
  padding: 0;
}

.diff code {
}
