.usageCounterContainer {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-3);
  gap: 8px;
  max-width: max-content;
  opacity: 0.7;
}
