name: Build
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.properties.outputs.version }}
      changelog: ${{ steps.properties.outputs.changelog }}
    steps:
      - id: sets-variables
        name: Setup variables
        shell: bash
        run: |
          echo "NOW_TAG=RELEASE.$(TZ=UTC date +'%Y-%m-%dT%H-%M-%SZ')" >> "$GITHUB_OUTPUT"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: |
            smallcloud/refact_self_hosting:latest
            smallcloud/refact_self_hosting:RELEASE.${{ steps.sets-variables.outputs.NOW_TAG }}
          platforms: |
            linux/arm64
            linux/amd64
